<div class="browse-moods">


  <h1 class='browse-moods-h1'>Browse Your Moods</h1>
  <%= link_to "Create New Mood", new_link_url, :class => 'create-new-mood', method: :get %>

  <table class='browse-moods-table'>
    <thead>
      <tr class='browse-moods-ul'>
        <td>Mood</td>
        <td>Submitted By</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
<<<<<<< HEAD
      <% @links.each do |link|%>
      <div class="browse-moods-li">
        <tr>
          <td class='link-td'><%= link_to link.title, link_url(link) %></td>
          <td><%= link.user.username %></td>
          <td><%= link.url %></td>
        </tr>
      </div>
      <% end %>
=======

      <div class="browse-moods-li">
        <tr>
          <% @user_links = Link.where(user_id: @current_user.id) %>
            <% @user_links.each do |link| %>
                <td class='link-td'><%= link_to link.title, link_url(link) %></td>
                <td><%= link.user.username %></td>
                <td><%= link.url %></td>
            <% end %>
        </tr>
      </div>

>>>>>>> a4a1d431433ae8c6fc67cf01b42697f94e9670b8
    </tbody>
  </table>

</div>
