<div class="show-links">

  <div class="show-links-header">
    <div class="show-links-title">
      <h2>Mood:</h2>
      <h3><%= @link.title %></h3>
      <h4>Description: <%= @link.url %></h4>
    </div>
      <hr class='links-hr'>
      <!-- want a link_to new article here -->
      <%= link_to 'Create Article', new_link_article_url(@link), :class => 'show-links-create-article' %>
  </div>
</div>


  <!-- want a list of all associated articles here -->
<div class="articles-made">

  <table class='articles-table'>
    <thead class='articles-made-head'>
      <td>Date</td>
      <td>Submitted By</td>
      <td>How it Begins</td>
    </thead>
    <tbody>
      <% @link.articles.each do |article| %>
        <tr class='article-info'>
          <td><%= article.date %></td>
          <td class='middle-article'><%= article.user.username %></td>
          <td><%= link_to article.body.split[0..6].join(' ') , article_url(article)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
