<div class="new-mood-head">
  <h1>Create New Mood to Write Articles About</h1>
  <%= link_to "Back to Mood List", links_url, :class => 'back-to-mood-list-link', method: :get %>
</div>

<div class="new-mood-body">

  <form id='newMood' action="<%= link_url(@link.id) %>" method="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label id='title'>
    <h2>Title</h2>
    <input id='title-field' type="text" name="link[title]" value="<%= @link.title %>">
  </label>

  <label id='body'>
    <h2>Body</h2>
    <textarea rows="18" cols="90" name="link[url]" value="<%= @link.url %>" placeholder="Describe (however you like) what kind of mood or emotion you would like to write about when you come back here to submit a post"></textarea>
  </label>

  <input id='submit-btn' type="submit" name="" value="Save Post">

  </form>

</div>
